p {
    color: maroon;
}

h1, h2 {
    font-family: sans-serif;
    color: gray
}

body {
    font-family: sans-serif;
}
em {
    font-family: serif;
}

p.greentea {
    color: green;
}
p.rasberry {
    color: blue;
}
p.blueberry {
    color: purple
}